{% extends '@!EasyAdmin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/admin-theme.css') }}">
{% endblock %}

{% block responsive_header_logo %}
    <a class="responsive-logo" title="CovoitUni" href="{{ path(ea.dashboardRouteName) }}">
        <span class="ea-admin-brand">CovoitUni &#128663;</span>
    </a>
{% endblock %}

{% block header_logo %}
    <a class="logo" title="CovoitUni" href="{{ path(ea.dashboardRouteName) }}">
        <span class="logo-custom"><span class="ea-admin-brand">CovoitUni &#128663;</span></span>
        <span class="logo-compact"><i class="fa-solid fa-car" aria-hidden="true"></i></span>
    </a>
{% endblock %}
